body {
  direction: rtl;
  background-image: -webkit-linear-gradient(90deg, #54466b 15%, #5079e1 50%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Cairo', sans-serif;
  padding-top: 40px;
  padding-bottom: 40px; }

.pr0 {
  padding-right: 0; }

.pl0 {
  padding-left: 0; }

.plr0 {
  padding-left: 0;
  padding-right: 0; }

.page-header {
  border: none;
  color: #fff; }
  .page-header .title {
    font-size: 36px;
    font-weight: 700; }
  .page-header .subtitle {
    font-size: 26px; }

.usersFormsWrapper {
  position: relative;
  max-width: 100%; }
  .usersFormsWrapper .form-signin {
    box-shadow: 0 0 11px -1px #333;
    position: absolute;
    top: 0;
    left: calc(50% - 175px);
    background: #f2f2f0;
    border: none;
    border-radius: 7px;
    width: 350px;
    max-width: 90%;
    padding: 15px;
    padding-top: 0;
    margin: 0 auto; }
    .usersFormsWrapper .form-signin.firstTypeForm {
      z-index: 90; }
    .usersFormsWrapper .form-signin.secondTypeForm {
      background: #d9d1ae;
      margin-top: 25px;
      z-index: 80; }
    .usersFormsWrapper .form-signin.thirdTypeForm {
      background: #c1a0cc;
      margin-top: 45px;
      z-index: 70; }
    .usersFormsWrapper .form-signin .form-signin-heading {
      background: #fff;
      border-radius: 7px 7px 0 0;
      font-size: 32px;
      margin: 0 -15px;
      padding: 15px; }
    .usersFormsWrapper .form-signin .checkbox {
      font-weight: normal; }
    .usersFormsWrapper .form-signin .form-group {
      margin-top: 15px; }
      .usersFormsWrapper .form-signin .form-group .input-group {
        position: relative;
        display: inline-block;
        width: 100%; }
        .usersFormsWrapper .form-signin .form-group .input-group .input-group-addon {
          background: none;
          border: none;
          position: absolute;
          right: 2px;
          top: 10px;
          display: inline-block;
          font-size: 22px;
          padding: 0; }
        .usersFormsWrapper .form-signin .form-group .input-group .form-control {
          padding-right: 28px; }
    .usersFormsWrapper .form-signin .form-control {
      background: transparent;
      border: none;
      border-radius: 0;
      outline: none;
      box-shadow: 0 0 0 0 transparent;
      border-bottom: 2px solid #c5c5c4;
      position: relative;
      height: auto;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      padding: 10px;
      font-size: 16px; }
      .usersFormsWrapper .form-signin .form-control:hover, .usersFormsWrapper .form-signin .form-control:focus, .usersFormsWrapper .form-signin .form-control:active {
        outline: none;
        border: none;
        border-bottom: 2px solid #5079e1;
        z-index: 2; }
    .usersFormsWrapper .form-signin .submitSignin {
      position: relative; }
      .usersFormsWrapper .form-signin .submitSignin .form-group {
        margin: 0; }
        .usersFormsWrapper .form-signin .submitSignin .form-group .btn {
          border-radius: 0 0 0 7px;
          position: absolute;
          top: 0;
          bottom: 0;
          left: -15px;
          width: 100%;
          height: calc(100% + 15px); }

/*# sourceMappingURL=app.css.map */
