body {
  direction: rtl;  
  background-image: -webkit-linear-gradient(90deg, $gradientSecondaryColor 15%, $gradientPrimaryColor 50%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Cairo', sans-serif;
  padding-top: 40px;
  padding-bottom: 40px;
}
.pr0{
  padding-right: 0;
}
.pl0{
  padding-left: 0;
}
.plr0{
  padding-left: 0;
  padding-right: 0;
}

.page-header{
  border: none;
  color: $white;
  .title{
    font-size: 36px;
    font-weight: 700;
  }
  .subtitle{
    font-size: 26px;
  }
}