.usersFormsWrapper{
  position: relative;
  max-width: 100%;
  .form-signin {
    box-shadow: 0 0 11px -1px #333;
    position: absolute;
    top: 0;
    left: calc(50% - 175px);
    background: $lightGrey;
    border: none;
    border-radius: 7px;
    width: 350px;
    max-width: 90%;
    padding: 15px;
    padding-top: 0;
    margin: 0 auto;
    
    &.firstTypeForm{
      z-index: 90;
    }
    &.secondTypeForm{
      background: $secondTypeFormBG;
      margin-top: 25px;
      z-index: 80;
    }
    &.thirdTypeForm{
      background: $thirdTypeFormBG;
      margin-top: 45px;
      z-index: 70;
    }
    .form-signin-heading{
      background: $white;
      border-radius: 7px 7px 0 0;
      font-size: 32px;
      margin: 0 -15px;
      padding: 15px;
    }
    .checkbox {
      font-weight: normal;
    }
    .form-group{
      margin-top: 15px;
      .input-group{
        position: relative;
        display: inline-block;
        width: 100%;     
        .input-group-addon{
          background: none;
          border: none;
          position: absolute;
          right: 2px;
          top: 10px;
          display: inline-block;
          font-size: 22px;
          padding: 0;
        }
        .form-control{
          padding-right: 28px;
        }
      }
    }

    .form-control {
      background: transparent;
      border: none;
      border-radius: 0;
      outline: none;
      box-shadow: 0 0 0 0 transparent;
      border-bottom: 2px solid $formFieldBorder;
      position: relative;
      height: auto;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      padding: 10px;
      font-size: 16px;

      &:hover,
      &:focus,
      &:active {
        outline: none;
        border: none;
        border-bottom: 2px solid $gradientPrimaryColor;
        z-index: 2;
      }
    }
    
    .submitSignin{
      position: relative;
      .form-group{
        margin: 0;
        .btn{
          border-radius: 0 0 0 7px;
          position: absolute;
          top: 0;
          bottom: 0;
          left: -15px;
          width: 100%;
          height: calc(100% + 15px);
        }
      }
    }
  }
}